LOOPING

In [1]:
print("koding akademi")
print("koding akademi")
print("koding akademi")
print("koding akademi")

koding akademi
koding akademi
koding akademi
koding akademi

FOR LOOPS

In [3]:
for i in range(4) :
    print(i)
    print("koding akademi")

0
koding akademi
1
koding akademi
2
koding akademi
3
koding akademi

In [4]:
for i in range(1, 5) : # (start, batas)
    print (i)

1
2
3
4

In [6]:
for i in range(1, 5, 2) :
    print(i)

1
3

In [10]:
nama = "william"

#foreach
for i in nama :
    print(i)

w
i
l
l
i
a
m

In [14]:
nama = "william"

print(nama[0])
print(nama[1])

w
i

In [16]:
nama = "william"

#for

for i in range(0, 4) :
    print(nama[i])

w
i
l
l

WHILE LOOPS

Apabila While True Pengulangan Akan Terus Berjalan, Sedangkan While False Akan Berhenti

In [18]:
while False:
    print("koding akademi")

In [21]:
username = "admin"

while username == "admin":
    print(username)
    username = "user"

admin

In [22]:
username = "admin"

while username == "admin":
    print(username)
    break

admin

In [25]:
while True:
    break
    print("hello")

In [27]:
while True:
    print("pilih menu : ")
    print("1. nasi goreng")
    print("2. sate ayam")
    print("3. keluar")

    kondisi = input("pilih menu :")

    if kondisi == "1":
        print("nasi goreng")
    elif kondisi == "2":
        print("sate ayam")
    elif kondisi == "3":
        print("sistem keluar !!!")
        break
    else:
        print("inputan salah !!!")

pilih menu :
1. nasi goreng
2. sate ayam
3. keluar
sistem keluar !!!

In [28]:
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

ASSIGNMENT

In [29]:
for i in range (1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [32]:
score = 0
end_score = 10

while score <= end_score :
    print(score)
    score += 1

print("Selamat Anda Memenangkan Permainan Ini !")

0
1
2
3
4
5
6
7
8
9
10
Selamat Anda Memenangkan Permainan Ini !

Jawaban No 4 Dengan While Loops

In [33]:
angka = 10
total = 0

while True:
    total += angka
    angka += 2

    if angka >=30:
        break

print (total)

190

Jawaban No 4 Dengan For Loops

In [34]:
for i in range (10, 30, 2):
    print (i)

10
12
14
16
18
20
22
24
26
28

In [51]:
total = 0
n = 0

while True:
    angka = int(input("angka : "))
    total += angka
    n += 1
    if n == 5:
        break

print(total / n)

7.6

Jawaban Nomor 3

In [59]:
for i in range(5):
    for x in range(5):
        print("*", end = "")
    print("")

*****
*****
*****
*****
*****

In [61]:
for i in range(5):
    for x in range(5):
        if i >= x:
            print("*", end = "")
    print("")

*
**
***
****
*****