ACCESSING LIST

In [2]:
alamat = ["surabaya", "sidoarjo", "gresik"]
nama = "william"

print(alamat[0])
print(alamat[1])
print(alamat[2])

surabaya
sidoarjo
gresik

In [7]:
for i in alamat :
    print(i)

for i in range(len(alamat)) :
    print(alamat[i])

surabaya
sidoarjo
gresik
surabaya
sidoarjo
gresik

In [14]:
alamat = ["surabaya", "sidoarjo", "gresik", "malang"]

print (alamat[0])

# slicing

print(alamat[0 : 2]) # [start : batas]
print(alamat[1 :])
print(alamat[-1])
print(alamat[-3])
print(alamat[-3 :])
print(alamat[0 : 3 : 2]) # [start : batas : step]
print(alamat[: :-1])

surabaya
['surabaya', 'sidoarjo']
['sidoarjo', 'gresik', 'malang']
malang
sidoarjo
['sidoarjo', 'gresik', 'malang']
['surabaya', 'gresik']
['malang', 'gresik', 'sidoarjo', 'surabaya']

UPDATE LIST

In [ ]:
alamat = ["surabaya", "sidoarjo", "gresik", "malang"]
alamat[0] = "jakarta"
print(alamat)

['jakarta', 'sidoarjo', 'gresik', 'malang']

In [17]:
alamat = ["surabaya", "sidoarjo", "gresik", "malang"]
alamat.append("denpasar")
print(alamat)

['surabaya', 'sidoarjo', 'gresik', 'malang', 'denpasar']

In [18]:
alamat = ["surabaya", "sidoarjo", "gresik", "malang"]
alamat.insert(0, "denpasar")
print(alamat)

['denpasar', 'surabaya', 'sidoarjo', 'gresik', 'malang']

DELETE LIST

In [20]:
alamat = ["surabaya", "sidoarjo", "gresik", "malang"]
del alamat[0]
print(alamat)

['sidoarjo', 'gresik', 'malang']

In [21]:
alamat = ["surabaya", "sidoarjo", "gresik", "malang"]
alamat.remove("sidoarjo")
print(alamat)

['surabaya', 'gresik', 'malang']

In [22]:
alamat = ["surabaya", "sidoarjo", "gresik", "malang"]
hapus = alamat.pop(1)
print(alamat)
print(hapus)

['surabaya', 'gresik', 'malang']
sidoarjo

LIST COMBINE

In [ ]:
alamat1 = ["surabaya", "sidoarjo"]
alamat2 = ["gresik", "malang"]
hasil = alamat1 + alamat2
print(hasil)

['surabaya', 'sidoarjo', 'gresik', 'malang']

In [25]:
alamat1 = ["surabaya", "sidoarjo"]
hasil = alamat1 * 2
print(hasil)

['surabaya', 'sidoarjo', 'surabaya', 'sidoarjo']

LIST MULTIDIMENSI

In [26]:
data = [
    [0,1,2],
    [3,4,5],
    [6,7,8]
]

print(data[0])
print(data[0][2])

[0, 1, 2]
2

In [29]:
for i in data:
    print(i)
    for z in i:
        print(z)

[0, 1, 2]
0
1
2
[3, 4, 5]
3
4
5
[6, 7, 8]
6
7
8

In [30]:
data = [i ** 2 for i in range(5)]

print(data)

[0, 1, 4, 9, 16]

MAP

In [32]:
a, b, c = map(float, [1,2,3])

print(a)
print(b)
print(c)

1.0
2.0
3.0

SPLIT

In [33]:
data = input("masukan kata : ")
hasil = data.split()
print(hasil)

['halo', 'william', 'semangat']

MAP & SPLIT

In [35]:
a, b, c = map(float, input("angka : ").split())

print(a)
print(b)
print(c)

1.0
2.0
3.0

In [36]:
data = [1,2,3,4]
test = list([1,2,3])
print(data)
print(test)

[1, 2, 3, 4]
[1, 2, 3]

In [38]:
data = [1,2,3,4]
test = list("halo")
print(data)
print(test)

[1, 2, 3, 4]
['h', 'a', 'l', 'o']

LIST, MAP & SPLIT

In [39]:
data = list(map(float, input("angka : ").split()))
print(data)

[1.0, 2.0, 3.0]

ASSIGNMENT

In [40]:
list = ["kosong"]

In [41]:
aktif = [True]

In [42]:
kodepos = [1,2,3,4,5]

In [43]:
warna = ["merah", "hijau", "biru"]

In [45]:
cek_panjang = [1,2,3,4,5,6,7]

if len(cek_panjang) > 10:
    print(True)
else:
    print(False)

False

In [48]:
cek_panjang = input("angka : ").split()

if len(cek_panjang) > 10:
    print(True)
else:
    print(False)

True

In [52]:
mystr = "welcome to koding akademi"

print(mystr[10:25])

 koding akademi

In [54]:
mystr = "welcome to koding akademi"

print(mystr[0:7])

welcome

In [57]:
mystr = "welcome to koding akademi"

print(mystr[::-1])

imedaka gnidok ot emoclew

DICTIONARY

In [58]:
data = {
    "nama" : "william",
    "alamat" : "surabaya"
}

print(data["nama"])
print(data["alamat"])

william
surabaya

In [59]:
data = dict(nama = "william", alamat = "surabaya")

print(data["nama"])
print(data["alamat"])

william
surabaya

In [61]:
data = {
    "nama" : "william",
    "alamat" : "surabaya"
}

for i in data:
    print(i)
    print(data[i])

nama
william
alamat
surabaya

UPDATE DICTIONARY

In [63]:
data = {
    "nama" : "william",
    "alamat" : "surabaya"
}

data["nama"] = "wahyu"
print(data)

{'nama': 'wahyu', 'alamat': 'surabaya'}

DELETE DICTIONARY

In [64]:
data = {
    "nama" : "william",
    "alamat" : "surabaya"
}

del data["nama"]
print(data)

{'alamat': 'surabaya'}

In [65]:
data = {
    "nama" : "william",
    "alamat" : "surabaya"
}

hapus = data.pop("nama")
print(data)
print(hapus)

{'alamat': 'surabaya'}
william

ADD DICTIONARY

In [66]:
data = {
    "nama" : "william",
    "alamat" : "surabaya"
}

data.update({"status": "lajang"})
print(data)

{'nama': 'william', 'alamat': 'surabaya', 'status': 'lajang'}

In [67]:
test = [input("angka : ")]
test2 = {
    "nama" : input("silahkan masukkan nama : ")
}
print(test)
print(test2)

['10']
{'nama': 'william'}

ASSIGNMENT

In [72]:
data = {
    "nama" : input("silahkan masukkan nama : "),
    "umur" : input("silahkan masukkan umur : "),
    "alamat" : input("silahkan masukkan alamat : "),
    "username" : input("silahkan masukkan username : "),
    "password" : input("silahkan masukkan password : "),
}

print(f"nama = {data["nama"]}")
print(f"umur = {data["umur"]}")
print(f"alamat = {data["alamat"]}")
print(f"username = {data["username"]}")
print(f"password = {data["password"]}")

nama = william
umur = 29
alamat = tengger raya
username = williamwilliam
password = 12345

In [73]:
buku = {
    "action" : "DC",
    "finance" : "Ngomongin Uang" 
}

kondisi = input("tambah / hapus : ")

if kondisi == "tambah":
    jenis = input("masukkan jenis : ")
    judul = input("masukkan buku : ")
    buku.update({jenis : judul})
    print(buku)
elif kondisi == "hapus":
    jenis = input("masukkan jenis buku yang dihapus : ")
    del buku[jenis]
    print(buku)

{'finance': 'Ngomongin Uang'}