In [3]:
nama = "emik"
_nama = "william"
__nama = "agung"
nama_depan = "test"
namaDepan = "wahyu"

print(nama)
print("Nama :", nama)

emik
Nama : emik

In [10]:
nama = "agung 10" # string (tipe data menyimpan huruf/tulisan)
angka = 10 # int / integer (tipe data menyimpan bilangan bulat)
koma = 10.5 # float (tipe data menyimpan bilangan desimal)
benar = True # boolean (tipe data menyimpan true/false)
salah = False

print("nama :", nama, "tipe data :", type (nama))
print(angka)
print(koma)
print(benar)
print(salah)

nama : agung 10 tipe data : <class 'str'>
10
10.5
True
False

KONVERSI

In [11]:
angka1 = 10.5
angka1_int = int(angka1)

print(angka1)
print(type(angka))

print(angka1_int)
print(type(angka1_int))

10.5
<class 'int'>
10
<class 'int'>

ASSIGNMENT 1

In [12]:
musim = "musim gugur"

print(musim)

musim gugur

In [14]:
number_str = "081212121212"
print(number_str)

081212121212

In [18]:
angka1 = 10
angka2 = 0.5
angka3 = "k"
angka4 = "koding akademi"
angka5 = True

print("type integer =", angka1)
print("type integer =", angka2)
print("type integer =", angka3)
print("type integer =", angka4) 
print("type integer =", angka5)

type integer = 10
type integer = 0.5
type integer = k
type integer = koding akademi
type integer = True

In [20]:
angka1 = 45
angka2 = 0.667
angka3 = 12
angka4 = 119

angka1_float = float(angka1)
angka2_int = int(angka2)
angka3_hex = hex(angka3)
angka4_str = str(angka4)

print(angka1_float)
print(angka2_int)
print(angka3_hex)
print(angka4_str)

45.0
0
0xc
119

INPUT & OUTPUT

In [24]:
nama = input("nama:")
print("halo", nama)
print(type(nama))

halo william
<class 'str'>

In [25]:
angka = int(input("angka :"))
print(angka)
print(type(angka))

20
<class 'int'>

In [27]:
print("hello \nworld")

hello
world

In [29]:
print("halo ", end ="")
print("teman", end ="!")

halo teman!

In [31]:
print("a","b","c", sep = ".")

a.b.c

FORMAT

In [43]:
nama = "william"
alamat = "surabaya"
angka = 10

print("nama :",nama,"alamat :",alamat) #cara 1
print(f"nama : {nama} alamat : {alamat}") #cara 2
print("nama : {} alamat : {}".format(nama, alamat)) #cara 3
print("nama : {1} alamat : {0}".format(nama, alamat)) #cara 4
print("nama : {a} alamat : {b}".format(a = nama, b = alamat)) #cara 5
print("nama : %s alamat : %s angka : %d" %(nama, alamat, angka)) #cara 6

nama : william alamat : surabaya
nama : william alamat : surabaya
nama : william alamat : surabaya
nama : surabaya alamat : william
nama : william alamat : surabaya
nama : william alamat : surabaya angka : 10

ASSIGNMENT 2

In [46]:
nama = input("masukkan nama")
umur = input("masukkan umur")
alamat = input("masukkan alamat")

print(f"halo {nama} selamat datang di koding akademi!")
print(f"{umur}")
print(f"{alamat}")

halo robert selamat datang di koding akademi!
14
denpasar