FUNCTION LAMBDA

In [1]:
def tampil(a):
    print(a)

tampil("william")

william

In [3]:
tambah = lambda a,b: a + b

print(tambah(10,20))

30

ASSIGNMENT

In [11]:
def tambah(*a):
    hasil = 0
    for i in a:
        hasil += i

    return hasil

total = tambah(1,2,3,4,5,6,7,8,9,10)
print(total)

rata = (lambda a: a / 10)(total)

print(rata)

55
5.5

PANDAS

PANDAS SERIES = DATA HANYA BERUPA ROW (BARIS)

PANDAS DATAFRAME = DATA BERUPA BARIS DAN KOLOM

In [15]:
import pandas as pd
import numpy as np

data = np.array([1,2,3,4])

series = pd.Series(data)
dataframe = pd.DataFrame(data)

print(series)
print(dataframe)

0    1
1    2
2    3
3    4
dtype: int64
   0
0  1
1  2
2  3
3  4

ASSIGNMENT

In [16]:
data = ("Apple","Orange","Banana","Grape","Mango")

series = pd.Series(data)
dataframe = pd.DataFrame(data)

print(series)
print(dataframe)

0     Apple
1    Orange
2    Banana
3     Grape
4     Mango
dtype: object
        0
0   Apple
1  Orange
2  Banana
3   Grape
4   Mango

PANDAS SERIES

In [17]:
data = [1,2,3]

series = pd.Series(data, index = ["satu", "dua", "tiga"])
series

satu    1
dua     2
tiga    3
dtype: int64

In [18]:
data = {
    "satu" : 1,
    "dua" : 2,
    "tiga" : 3
}
series = pd.Series(data)
series

satu    1
dua     2
tiga    3
dtype: int64

In [19]:
data = [1,2,3]

series = pd.Series(data, index = ["satu", "dua", "tiga"])

print(series)
print(series["satu"])

satu    1
dua     2
tiga    3
dtype: int64
1

In [20]:
data = [1,2,3,4,5]

series = pd.Series(data)

print(series[0:4])

0    1
1    2
2    3
3    4
dtype: int64

LOC & ILOC

In [ ]:
data = [1,2,3,4,5]

series = pd.Series(data, index = ["satu", "dua", "tiga", "empat", "lima"])

# LOC (tanpa menggunakan batas)

print(series.loc["satu" : "empat"])

# ILOC (menggunakan batas)

print(series.iloc[0 : 4])

satu     1
dua      2
tiga     3
empat    4
dtype: int64
satu     1
dua      2
tiga     3
empat    4
dtype: int64

In [25]:
data = [1,2,3,4,5]

series1 = pd.Series(data)
series2 = pd.Series(data, index = ["satu", "dua", "tiga", "empat", "lima"])

# LOC

print(series1.loc[0 : 4])
print(series2.loc["satu" : "empat"])

# ILOC

print(series2.iloc[0 : 4])

0    1
1    2
2    3
3    4
4    5
dtype: int64
satu     1
dua      2
tiga     3
empat    4
dtype: int64
satu     1
dua      2
tiga     3
empat    4
dtype: int64

ASSIGNMENT

In [33]:
data = ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"]

series = pd.Series(data, index = [1,2,3,4,5,6,7,8,9,10,11,12])

print(series.loc[1 : 12])
print(series.iloc[0 : 12])
print(series.values)

1       Januari
2      Februari
3         Maret
4         April
5           Mei
6          Juni
7          Juli
8       Agustus
9     September
10      Oktober
11     November
12     Desember
dtype: object
1       Januari
2      Februari
3         Maret
4         April
5           Mei
6          Juni
7          Juli
8       Agustus
9     September
10      Oktober
11     November
12     Desember
dtype: object
['Januari' 'Februari' 'Maret' 'April' 'Mei' 'Juni' 'Juli' 'Agustus'
 'September' 'Oktober' 'November' 'Desember']

CONDITIONAL SELECTION

In [34]:
data = (2000,3000,1000,5000,3500)

series = pd.Series(data)
series

0    2000
1    3000
2    1000
3    5000
4    3500
dtype: int64

In [35]:
series > 2000

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [ ]:
series[series > 2000]

1    3000
3    5000
4    3500
dtype: int64

SERIES OPERATOR PERBANDINGAN & LOGIKA

In [38]:
series[(series > 2000) & (series < 3500)]

1    3000
dtype: int64

SERIES OPERATOR ARITMATIKA

In [46]:
data = (2000,3000,1000,5000,3500)

series = pd.Series(data)
series

0    2000
1    3000
2    1000
3    5000
4    3500
dtype: int64

In [ ]:
series + 1000 # Hanya Tampilan Saja Tidak Mengubah Data Asli

0    3000
1    4000
2    2000
3    6000
4    4500
dtype: int64

In [ ]:
series = series + 1000 #Mengubah Data Asli

0    6000
1    7000
2    5000
3    9000
4    7500
dtype: int64

In [53]:
data1 = (2000,3000,1000,5000,3500)
data2 = (1000,2000,3000,4000,5000)

series1 = pd.Series(data1)
series2 = pd.Series(data2)

hasil = series1 + series2
print(hasil)

0    3000
1    5000
2    4000
3    9000
4    8500
dtype: int64

In [55]:
total = series1.add(series2)
print(total)

0    3000
1    5000
2    4000
3    9000
4    8500
dtype: int64

In [56]:
data1 = (2000,3000,1000,5000,3500)

series1 = pd.Series(data1)
series1.dtypes

dtype('int64')

In [59]:
data1 = (2000,3000,1000,5000,3500)

series1 = pd.Series(data1)

print(series1)

series1_float = series1.astype(float)

print(series1_float)

0    2000
1    3000
2    1000
3    5000
4    3500
dtype: int64
0    2000.0
1    3000.0
2    1000.0
3    5000.0
4    3500.0
dtype: float64

In [61]:
data1 = (2000,3000,1000,5000,3500)

series1 = pd.Series(data1)

print(series1)

series1[0] = 10000

print(series1)

0    2000
1    3000
2    1000
3    5000
4    3500
dtype: int64
0    10000
1     3000
2     1000
3     5000
4     3500
dtype: int64

In [63]:
data1 = (2000,3000,1000,5000,3500)

series1 = pd.Series(data1)

sum = series1.sum()
rata = series1.mean()

print(sum)
print(rata)

14500
2900.0

ASSIGNMENT

In [71]:
data = [408,943,902,117,389,435,793,356,651,993,786,157]

series = pd.Series(data, index = ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", 'Desember'])
series

Januari      408
Februari     943
Maret        902
April        117
Mei          389
Juni         435
Juli         793
Agustus      356
September    651
Oktober      993
November     786
Desember     157
dtype: int64

In [72]:
rata = series.mean()
print(rata)

577.5

In [74]:
series[series > rata]

Februari     943
Maret        902
Juli         793
September    651
Oktober      993
November     786
dtype: int64

In [76]:
series[series > rata] = rata

print(series)

Januari      408.0
Februari     577.5
Maret        577.5
April        117.0
Mei          389.0
Juni         435.0
Juli         577.5
Agustus      356.0
September    577.5
Oktober      577.5
November     577.5
Desember     157.0
dtype: float64